<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>myjpetstore.web.MainServlet</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>CatagoryViewServlet</servlet-name>
    <servlet-class>myjpetstore.web.CatagoryViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProsuctViewServlet</servlet-name>
    <servlet-class>myjpetstore.web.ProsuctViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ItemViewServlet</servlet-name>
    <servlet-class>myjpetstore.web.ItemViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>myjpetstore.web.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>myjpetstore.web.SignServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckIsExistServlet</servlet-name>
    <servlet-class>myjpetstore.web.CheckIsExistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterJumpServlet</servlet-name>
    <servlet-class>myjpetstore.web.RegisterJumpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>myjpetstore.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignoutServlet</servlet-name>
    <servlet-class>myjpetstore.web.SignoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditAccountServlet</servlet-name>
    <servlet-class>myjpetstore.web.EditAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditAccountJumpServlet</servlet-name>
    <servlet-class>myjpetstore.web.EditAccountJumpServlet</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/mainView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatagoryViewServlet</servlet-name>
    <url-pattern>/catagoryView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProsuctViewServlet</servlet-name>
    <url-pattern>/ProsuctViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemViewServlet</servlet-name>
    <url-pattern>/ItemViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/SignServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckIsExistServlet</servlet-name>
    <url-pattern>/CheckIsExistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterJumpServlet</servlet-name>
    <url-pattern>/RegisterJumpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignoutServlet</servlet-name>
    <url-pattern>/SignoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAccountServlet</servlet-name>
    <url-pattern>/EditAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAccountJumpServlet</servlet-name>
    <url-pattern>/EditAccountJumpServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
